/*#051126 dark blue/black
##442d3f darker purple
#4c3f77 dark purple
#7c587f lilac
#a4bcbc light blue
#007f97 aquamarine*/


/*------------------body------------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  padding-top: 2em;
  width: 100vw;
  height: 100vh;
}

/*------------------typograhy------------------------*/

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
    font-family: 'Muli', sans-serif;
    color: #442d3f;
    letter-spacing: .5px;
}


p, .p {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #442d3f;
}

/* mouse over link */
a:hover {
    color: #7c587f;
    text-decoration: none!important;
}

/*------------------navbar------------------------*/
.bg-light {
    background-color: white!important;
}

.navbar{
  padding top: 1em;
}

.navbar-brand{
  font-size: 2em;
  margin-left: 1em; 
}

.navbar-light .navbar-brand{
  color: #222a1d;
}

.navbar-nav{
  margin-right: 1.5em;
}


/*------------------homepage------------------------*/
.container{
    margin: 5%;
}

div.jumbotron.jumbotron-fluid {
    background-color: transparent;
    margin-top:0;
    padding-top: 0;
}


/*------------------events------------------------*/

.list-group-item {
  background-color: #442d3f;
}

#date-color{
  color: #445a7c;
}

/*------------------profiles------------------------*/

.btn-link{
  font-size: 1.25em;
  text-decoration: none!important;  
  color: #442d3f;
}

/* mouse over link */
.btn-link:hover {
    color: #7c587f;
}

.card{
  margin-bottom: 2em;
  border: 1px solid #007f97;
  box-shadow: 2px 2px 5px #e6e6e6;
}

.card-text{
  margin-bottom: .60em;

}

/*------------------profile page------------------------*/

.card-header{
  background-color: #442d3f!important;
  border-bottom: none!important;
}

.img-responsive {
    width: 100%;
    height: 100%;
}  

.i{
  font-size: 5em;
  margin: 5em;
}

#language_id{
  margin: .6em;
}

div#social-media-group .col{
  padding-top: 2em;
}

#mentor-or-active{
  border-top: 5px solid #442d3f;
  padding-bottom: 2em;
}
/*@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}*/

.card-img-top {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


