/*#222a1d dark blue/black
#21272d dark blue
#445a7c med blue
#90aacd light blue
#4b7223 green*/

/*------------------homepage------------------------*/
div.jumbotron.jumbotron-fluid {
    background-color: transparent;
    margin-top:0;
    padding-top: 0;
}

