{% extends 'base.html' %}
{% block content %}


<div>
    <div class="jumbotron jumbotron-fluid"> 
        <img class='img-responsive' id='bg' src='https://cdn-images-1.medium.com/max/1137/1*9149RYA5Tcchy9DmcdgVCw.jpeg' alt="photo of rosie the rivetor" margin="0">
    </div>
    <div id='about'>
      <button class='btn btn-primary' style='width:15rem; background-color: #000060; border-color: #000060;' value="About"></button>
    <div> 
        <br>
        <br>
        <br>
</div>

    




  

{% endblock %}