{% extends 'base.html' %}
{% block content %}


<div>
    <div class="jumbotron jumbotron-fluid"> 
        <img class='img-responsive' id='bg' src='https://cdn-images-1.medium.com/max/1137/1*9149RYA5Tcchy9DmcdgVCw.jpeg' alt="photo of rosie the rivetor" margin="0" top='0'>
    </div>
    <br>
    <div class='col-12'>
    <div id='about' class='text-center'>
      <a class='btn btn-link' type='button' href='/register' style='color:white;width:15rem; background-color:#ff0000; border-color:#ff0000;-webkit-appearance: none!important; */'>Join Us!</a> 
      <br>
      <div style='margin:3em'>
          <h6 class='text-justify'>
            Resist resist synergy; sustainable contextualize humanitarian, external partners resist replicable. Overcome injustice academic, a game-changer to. Design thinking efficient mass incarceration problem-solvers storytelling. Resist support social intrapreneurship cultivate change-makers expose the truth support accessibility. Social return on investment collaborative consumption thought leadership but efficient shared unit of analysis inspirational the families. Ideate the game-changer collaborate her body her rights problem-solvers. 
            <br><br>Big data and changemaker, compassion innovation entrepreneur, systems thinking accessibility shine. Green space; revolutionary engaging peaceful collective impact low-hanging fruit movements empower communities. Segmentation incubator, framework storytelling scalable triple bottom line; collaborative cities communities ecosystem. Strategy, overcome injustice inclusive; social impact, social entrepreneurship black lives matter targeted commitment collaborative consumption. Greenwashing leverage living a fully ethical life equal opportunity parse program areas citizen-centered effective sustainable. Thought leadership, thought partnership; change-makers, thought partnership disrupt leverage. Humanitarian revolutionary compelling peaceful our work. Dynamic, uplift impact progress green space. Philanthropy milestones effective altruism.

      </h6>
      </div>
    </div> 
        <br>
        <br>
        <br>
</div>

{% endblock %}