{% extends 'base.html' %}
{% block content %}

  <h2>Profiles</h2>

  <ul>
    {% for user in users %}
      <li>
       <a href="/profiles/{{ user.user_id }}">
          {{ user.fname }} {{ user.lname }} <br>
      </a>
      {% for eng_type in engineer_types %}
        {% if user.engineer_type == eng_type.engineer_type_id %}   
            {{ eng_type.engineer_type }}
      </li>
        {% endif %}
      {% endfor %} 
     {{ user.city }}, {{ user.state }}  
    {% endfor %}

  </ul>



{% endblock %}