{% extends 'base.html' %}
{% block content %}

<h1>Add Profile</h1>

<form action='add-profile' method='POST'>

  <h3>Please complete to make your public profile</h3>

  <div>
      <label>
        Twitter Handle
        <input type='text' name='twitter'>
      </label>
    </div>

    <div>
      <label>
        LinkedIn Handle
        <input type='text' name='linkedin'>
      </label>
    </div>

    <div>
      <label>
        Website URL
        <input type='text' name='website_url'>
      </label>
    </div>

    <div>
      <label>
        Description
        <input type='text' name='description'>
      </label>
    </div>

    <div>
      <label>
        Name of College
        <input type='text' name='school_name'>
      </label>
    </div>

    <div>
      <label>
        College City 
        <input type='text' name='school_city'>
      </label>
    </div>

    <div>
      <label>
        College State 
        <input type='text' name='school_state'>
      </label>
    </div>

    <div>
      <label>
        Degree Awarded
        <input type='text' name='degree_level'>
      </label>
    </div>

    <div>
      <label>
        Degree Major
        <input type='text' name='major'>
      </label>
    </div>

    <div>
      <label>
        Year Graduated
        <input type='text' name='year'>
      </label>
    </div>

    <div>
      <label>
        Type of Engineering
        <!-- for loop with jinja to go through values -->
        <select name='engineer_type'>
          {% for type in engineer_type %}
          <option value='{{ type.engineer_type_id }}'>{{ type.engineer_type }}</option>
          {% endfor %}
        </select>
      </label>
    </div>

    <div>
      <label>
        Languages
          {% for language in languages %}
          <input name='get_langs' type='checkbox' value='{{ language.language_id }}'>{{ language.language_name }}<br>
          {% endfor %}
      </label>
    </div>

<!--     <div>
      <label>
        Profile Active?
        <input type='radio' name='active' value=True>Active
        <input type='radio' name='active' value=False>Inactive
      </label>
    </div>     -->  

    <div>
      <input type='submit' value='Submit Profile'>
    </div>

  </form>

{% endblock %}
