{% extends 'base.html' %}
{% block content %}



<div class='container'>
  <h3>Please register and create your profile page</h3>
  
  <form action="register" method="POST">

    
    <br>
    
  <div>  
    <div class='d-inline'>
      <label>
        <h6>First Name</h6>
        <input type="text" class='form-control' name="fname">
      </label>
    </div>

    <div class='d-inline'>
      <label>
        <h6>Last Name</h6>
        <input type="text" class='form-control' name="lname">
      </label>
    </div>
  </div>  

  <div>    
    <div class='d-inline'>
      <label>
        <h6>Email</h6>
        <input type="email" class='form-control' name="email">
      </label>
    </div>

    <div class='d-inline'>
      <label>
        <h6>Password</h6>
        <input type="password" class='form-control' name="password">
      </label>
    </div>
  </div>  
  <div>
    <div class='d-inline'>
      <label>
        <h6>City</h6>
        <input type="text" class='form-control' name="city">
      </label>
    </div>

    <div class='d-inline'>
      <label>
        <h6>State</h6>
        <input type="text" class='form-control' name="state">
      </label>
    </div>
  </div>  

    <div>
      <input type="submit" class='btn btn-primary' value="Submit">
    </div>

  </form>
</div>

{% endblock %}