{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <title>Upload</title>
</head>
<body>
    <div class='container'>
        <div id='photo-container'>
            <div class="page-header">
                <h3>Upload Your profile photo</h3>
            </div>
            <br>
            <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
                <input type='file' name='photo'>
                <input type="submit" class='btn btn-primary' value="Submit">
            </form>
        </div>
    </div>        
</body>
</html>
{% endblock %}   