{% extends 'base.html' %}
{% block content %}

<div class='container'>
  
    <div id='social-container'>
      <div class="page-header">
        <h1>{{ user.fname }} {{ user.lname }}</h1>
      </div>

      <div>
        <h5 id='twitter_id'>Twitter: {{ user.twitter }}</h5>
      </div>       

      <div>
        <h5 id='linkedin_id'>LinkedIn: {{ user.linkedin }}</h5>
      </div> 

      <div>
        <h5 id='website_url_id'>Website: {{ user.website_url }}</h5>
      </div>  

      <div>
        <input class="btn btn-primary" id='edit-social' type="submit" value="EDIT SOCIAL">
      <div id='social-div'></div>
    </div> 

</div>   


  <div id='education-container'> 
    <div id='school-info'>
      <h2>Education</h2>
      {% for school in schools %}
        <h4>{{ school.school_name }}, {{ school.year }}</h4>
        <p>{{ school.city }}, {{ school.school_state }}</p>
        <h4>{{ school.major }}, {{ school.degree_level }}</h4>  
      {% endfor %} 
    </div>
    <div>
      <input class="btn btn-primary" id='edit-education' type="submit" value="EDIT EDU">
        <div id='education-div'></div>
    </div> 
  </div>

  
  <div id='language-container'>
    <div id='language-info'>
      <h2>Languages</h2>
      {% for language in languages %}
        <h4>{{ language.language_name }}</h4>
      {% endfor %}
    </div> 

    <div>
    <input class="btn btn-primary" id='edit-language' type="submit" value="EDIT LANGUAGES">
      <div id='language-div'></div>
    </div> 
 
  </div>
    
  <div id='description-container'>
      <div id='description-info'>
        <h2>Description</h2>
         <h5>{{ user.description }}</h5>
      </div>

      <input class="btn btn-primary" id='edit-decription' type="submit" value="EDIT DESCRIPTION">
        <div id='description-div'></div>
      </div> 
  </div>

  <div id='mentor-or-active'>
    <div id='for_display'>
      <div id='is_active'>
        <h4>Active</h4>
        {{ user.is_active }}
      </div> 

    <div id='is_mentor'>
        <h4>Mentor?</h4>
        {{ user.is_mentor }}
      </div>
    </div>
  </div>   

<script src="../static/user_profile.js"></script>
</div>
{% endblock %}